@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.about-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#basic-form {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#basic-form button {
  max-width: 500px;
}

#basic-form-input {
  border-radius: 25px;
  width: 400px;
  height: 50px;
}

#basic-form-input::placeholder {
  font-size: 20px;
  padding: 0 10px;
}

#basic-form p {
  font-size: 50px;
}

.btn-outline-dark {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.carousel-image{
  max-height: 700px;
}

#carousel_main {
  grid-area: 1/1;
}

.close {
  color: #aaaaaa;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeEditForm {
  color: #aaaaaa;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.closeEditForm:hover,
.closeEditForm:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeForm {
  color: #aaaaaa;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.closeForm:hover,
.closeForm:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.description {
  font-size: 30px;
  margin: 15px;
  max-width: 80%;
}

.error {
  color: red;
}

.form {
  position: relative;
}

.form-control {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
  border: 1px solid black;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: bold;
}

html,
body {
  width: auto !important;
  /* overflow-x: hidden !important; */
}

#logo {
  width: 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-image {
  justify-self: flex-start;
  align-self: flex-start;
  width: 300px;
  height: auto;
  padding: 10px;
}

#myChart {
  width: 500px;
  height: 100px;
}

.nav-text {
  font-size: 18px !important;
}

.no-books-text {
  padding: 200px 0;
}

.parallax {
  background-image: url("../images/paralax-bcg.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-buttons {
  border-style: none;
  background: none;
  color: #ffff;
}

.profile-card {
  background: #242323;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  max-width: 700px;
  margin: 100px auto;
  color: #ffff;
}

.profile-card .desc {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.profile-card h2 {
  margin: 0;
  padding: 0 1rem;
}

.profile-card .title {
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 25px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url("https://i0.wp.com/simplecryptoguide.com/wp-content/uploads/2022/08/Dogechain.png");
  background-position: bottom center;
  background-size: cover;
}

#search-book {
  max-width: 400px;
  min-width: 100px;
}

#search-book::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.shelf-book {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shelf-image {
  width: 300px;
  height: auto;
  padding: 10px;
}

.site-title {
  grid-area: 1/1;
  z-index: 1;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.site-title-container {
  display: grid;
  margin-bottom: 5px;
}

#stats-icon {
  max-width: 100px;
  animation: stats-animation 2s ease 0s infinite normal forwards;
  font-size: 100px;
  color: red;
}

.stats-flex {
  flex-direction: column;
  align-items: center;
}

#table-description {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 20px;
  text-shadow: 4px 4px 0px rgba(66, 68, 90, 1);
}

.table-image {
  padding: 10px;
  width: 148px;
  height: 220ox;
}

#table-title {
  font-size: 30px;
  display: block;
  padding: 20px;
  font-family: "Pacifico", cursive;
  text-shadow: 4px 4px 0px rgba(66, 68, 90, 1);
}

.thanks {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
  text-align: center;
}

.title-total i {
  font-size: 50px;
  margin-top: 20px;
}

.title-total i:hover {
  scale: 1.1;
}

@keyframes stats-animation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}


@media (min-width: 300px) {
  #table-title {
    font-size: 20px;
    padding: 5px;
  }
  #table-description {
    font-size: 20px;
  }
  #search-book::placeholder {
    font-size: 20px;
  }
  #stats-icon{
    max-width: 70px;
  }
  .carousel-image{
    max-height: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 400px) {
  #table-title {
    font-size: 40px;
    padding: 5px;
  }
  #table-description {
    font-size: 20px;
  }
  #search-book::placeholder {
    font-size: 20px;
  }
  #stats-icon{
    max-width: 70px;
  }
}

@media (min-width: 600px) {
  #table-title {
    font-size: 50px;
  }
  #table-description {
    font-size: 30px;
  }
  #search-book::placeholder {
    font-size: 30px;
  }
  .stats-flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .title-total i {
    font-size: 100px;
    margin-top: 30px;
  }
  #logo {
    width: 200px;
  }
  .nav-text {
    font-size: 25px !important;
  }
}

@media (min-width: 800px) {
  #table-title {
    font-size: 60px;
  }
  #table-description {
    font-size: 40px;
  }
  #search-book::placeholder {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  #table-title {
    font-size: 70px;
    padding: 5px;
  }
  #table-description {
    font-size: 50px;
  }
  #search-book::placeholder {
    font-size: 30px;
  }
}
